<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/tweet_post.css">
</head>
<body>
    <div class="container">
      <div class="post_row">
            <div class="text_col1">
                <div class="img1"><img src="/images/profile-img.png"></div>
            </div>
            <div class="text_col2">
               <input type="text" placeholder="Tweet heading" />
                 </div>
      </div>
      <div class="happen">
        <textarea placeholder="What's happening?"></textarea>
      </div>
    <hr class="line">
          <div class="icon">
              <a href="" class="col"><i class="fa-solid fa-image"></i></a>
             
          </div>   
    </div>
</body>
</html>